body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

.container {
	border: 2vw solid black;
	padding: 0px;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: 5vh;
}

#box{
	position: relative;
	left: 0pc;
	width: 5vw ;
	height: 5vw ;
	background-color: blue;
	animation-name: movebox;
	animation-duration: 10s;
}

@keyframes movebox {
	0% {left: 0vw;}
	50% {left: 55vw;}
	100% {left:0px; }
}
